.week-day-res {
  display: table-cell;
  font-size: 13px;
  text-align: center;
  color: #2d333f;
  font-family: "BrandonText", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 350;
  padding: 5px;
}
