* {
  box-sizing: border-box;
}

/* CALENDAR STYLES */

.res-calendar-wrapper {
  height: 288px;
  width: 302px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px 1px;
  padding: 16px 0px;
  background-color: #f1f2f4;
}

.reservations-calendar {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 25px;
}

.week-day-res {
  display: table-cell;
  font-size: 13px;
  text-align: center;
  color: #2d333f;
  font-family: "BrandonText", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 350;
  padding-bottom: 7px;
}

.calendar-day-res, .calendar-day-res-empty, .calendar-day-restoday {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d8d9db;
  font-family: "BrandonText", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 33px;
  width: 36px;
  background-clip: padding-box;
}

.calendar-day-res, .calendar-day-restoday {
  background-color: #fff;
}

.calendar-day-res-empty {
  cursor: default;
}

.calendar-day-res:hover {
  border: 2px solid #da3743;
}

.calendar-day-res::after {
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  top: -5000px;
  height: 10000px;
  width: auto;
  z-index: -1;
}

.calendar-day-restoday {
  border: 2px solid #da3743;
}

.clickedDate {
  border: 2px solid #da3743;
}

.res-month-title {
  height: 34px;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.res-calendar-nav {
  font-family: "BrandonText", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  padding-top: 6px;
}

.prev-month, .next-month {
  height: 32px;
  width: 32px;
  border: 1px solid #d8d9db;
  border-radius: 50%;
  cursor: pointer;
  background-size: 8px 10px;
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.prev-month:hover, .next-month:hover {
  border: 2px solid #da3743;
}

.prev-month {
  /* background-image: url("https://s3-us-west-1.amazonaws.com/freeseats-imgs/chevron-pointing-to-the-left.svg"); */
  background-image: url("https://s3-us-west-1.amazonaws.com/freeseats-imgs/chevron-pointing-to-the-left+(1).svg");
}

.next-month {
  background-image: url("https://s3-us-west-1.amazonaws.com/freeseats-imgs/right-chevron.svg");
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  margin-left: 22px;
}

.col-end {
  margin-right: 22px;
}

.prevMonthStyle, .nextMonthStyle {
  background-color: #f1f2f4;
}

.pastCurrentDay {
  color: #d8d8db;
  cursor: default;
}
.pastCurrentDay:hover {
  border: 1px solid #d8d9db;
}
