* {
  box-sizing: border-box;
}

@font-face {
	font-family: Brandon;
	src: url('../client/fonts/BrandonText_Regular.otf') format('opentype');
}

@font-face {
  font-family: Brandon-Med;
  src: url('../client/fonts/BrandonText_Medium.otf') format('opentype');
}

.reservations {
  padding: .5rem 1rem 1rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(153,153,153,.4);
  box-shadow: 0 2px 8px rgba(153,153,153,.4);
  width: 336px;
}

/* RESERVATION TITLE */
.reservation-title-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
  height: 48px;
  width: 302px;
  padding-bottom: 15px;
}

.make-res-title {
  line-height: 24px;
  font-weight: 600;
  font-size: 20px;
  font-family: Brandon-Med;
  border-bottom: 1px solid #d8d9db;
  padding-bottom: 10px;
}

/* PARTY SIZE, TIME, DATE */
.date-time-wrapper {
  display: flex;
  flex: 1 100%;
}

.date-wrapper, .time-wrapper {
  flex: 1 50%;
}

.time-wrapper {
  margin-left: .5rem;
}

.date-title {
  margin-bottom: 10px;
}

.display-date {
  font-family: Brandon;
  font-size: 14px;
  background-color: #fff;
  -webkit-appearance: none;
  background: url("https://s3-us-west-1.amazonaws.com/freeseats-imgs/chevron-arrow-down.svg") no-repeat right;
  background-position-x: 130px;
  background-size: 8px 8px;
}

.display-date:hover {
  cursor: pointer;
}

.party-size-title, .time-title, .date-title {
  font-size: 14px;
  font-weight: 550;
  padding-bottom: .25rem;
  display: block;
  flex-direction: column;
  font-family: Brandon-Med;
}

.party-size-list, .time-list {
  cursor: pointer;
  font-size: 14px;
  font-family: Brandon;
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 35px;
  background-color: #fff;
  -webkit-appearance: none;
  background: url("https://s3-us-west-1.amazonaws.com/freeseats-imgs/chevron-arrow-down.svg") no-repeat right;
  background-position-x: 285px;
  background-size: 8px 8px;
}

.time-list {
  background-position-x: 130px;
}

.party-size-wrapper:hover, .time-wrapper:hover, .date-wrapper:hover {
  border-bottom: 2px solid #da3743;
}

.party-size-wrapper {
  margin-bottom: 10px;
  border-bottom: 1px solid #d8d9db;
}

.date-wrapper, .time-wrapper {
  border-bottom: 1px solid #d8d9db;
}

/* FIND A TABLE BUTTON */
.find-table {
  cursor: pointer;
  text-decoration: none;
  background-color: #da3743;
  color: #fff;
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  font-weight: 500;
  border-radius: 2px;
  text-align: center;
  font-family: Brandon-Med;
  padding: 12px 16px;
  margin-top: 20px;
}

.find-table:hover {
  opacity: 0.8;
}

/* BOOKINGS */
.bookings {
  padding-top: 20px;
  display: flex;
}

.bookings-caption {
  font-family: Brandon-Med;
  padding-left: 7px;
  font-size: 14px;
  font-weight: 500;
}

/* CONDITIONAL MESSAGES */
.conditional-messages {
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: #f1f2f4;
  margin: 1rem auto 0;
}

.conditional-caption {
  font-family: Brandon;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  margin-left: 8px;
}

.exclamation-icon {
  height: 20px;
  width: 20px;
}

.icon-wrapper {
  height: 24px;
  width: 24px;
}

/* SHOW NEXT AVAILABLE */
.show-next-avail-btn {
  height: 48px;
  padding: calc(.75rem - 1px) calc(1rem - 1px);
  border: 1px solid #d8d9db;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  font-weight: 500;
  border-radius: 2px;
  color: #2d333f;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  font-family: Brandon-Med;
  margin-top: 20px;
}

.show-next-avail-btn:hover {
  border: 2px solid #da3743;
}

/* AVAILABLE TIMES */
.availTimes-wrapper {
  display: flex;
  margin: 1rem auto 0;
  overflow: hidden;
  width: 100%;
}

.availTimes-caption-wrapper {
  margin: 0 0 .5rem;
}

.availTimes-caption {
  margin: 0 0 .5rem;
  font-family: Brandon-Med;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.times-wrapper {
  margin-right: .5rem;
  display: block;
}

.avail-time {
  display: inline-block;
  min-width: 72px;
  height: 32px;
  background-color: #da3743;
  border-radius: 2px;
  align-items: center;
  padding: .25rem;
  font-family: Brandon;
  cursor: pointer;
  justify-content: center;
  margin: 0 .5rem .5rem 0;
}

.avail-time:hover {
  opacity: 0.7;
}

.avail-time-caption {
  font-size: .875rem;
  text-align: center;
  color: #fff;
  margin-left: .25rem;
}

/* CALENDAR STYLES */
.res-calendar-wrapper {
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px 0px;
  background-color: #f1f2f4;
  border: 1px solid #d8d9db;
}

.reservations-calendar {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 25px;
}

.week-day-res {
  display: table-cell;
  font-size: 14px;
  text-align: center;
  color: #2d333f;
  font-family: Brandon;
  font-weight: 350;
  padding-bottom: 7px;
}

.calendar-day-res, .calendar-day-res-empty, .calendar-day-restoday {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d8d9db;
  font-family: Brandon-Med;
  height: 33px;
  width: 36px;
  background-clip: padding-box;
}

.calendar-day-res, .calendar-day-restoday {
  background-color: #fff;
}

.calendar-day-res-empty {
  cursor: default;
}

.calendar-day-res:hover {
  border: 2px solid #da3743;
}

.calendar-day-res::after {
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  top: -5000px;
  height: 10000px;
  width: auto;
  z-index: -1;
}

.selectedDay {
  border: 2px solid #da3743;
}

.clickedDate {
  border: 2px solid #da3743;
}

.res-month-title {
  height: 34px;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.res-calendar-nav {
  font-family: Brandon-Med;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  padding-top: 6px;
}

.prev-month, .next-month, .greyed-prev-month {
  height: 32px;
  width: 32px;
  border: 1px solid #d8d9db;
  border-radius: 50%;
  cursor: pointer;
  background-size: 8px 10px;
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.prev-month:hover, .next-month:hover {
  border: 2px solid #da3743;
}

.greyed-prev-month {
  background-image: url("https://s3-us-west-1.amazonaws.com/freeseats-imgs/chevron-pointing-to-the-left+(1).svg");
  cursor: default;
}

.prev-month {
  background-image: url("https://s3-us-west-1.amazonaws.com/freeseats-imgs/chevron-pointing-to-the-left.svg");
}

.next-month {
  background-image: url("https://s3-us-west-1.amazonaws.com/freeseats-imgs/right-chevron.svg");
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  margin-left: 22px;
}

.col-end {
  margin-right: 22px;
}

.prevMonthStyle, .nextMonthStyle {
  background-color: #f1f2f4;
}

.pastCurrentDay {
  color: #d8d8db;
  cursor: default;
}
.pastCurrentDay:hover {
  border: 1px solid #d8d9db;
}
