.week-day {
  display: table-cell;
  padding: .5rem 0;
  font-size: .875rem;
  text-align: center;
  color: #999;
  font-family: "BrandonText", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}
